
$orange    = #ffffff

html[data-theme="dark"] {
  body {
  }
  .panel {
    background: #3f424a;
    color: #ffffff;
  }
  .panel2 {
    background: #32353b;
    color: #ffffff;
  }
  .dark-panel {
    background:  #32353b;
    color: #ffffff;
  }
  .text-panel {
    color: #9c929c;
  }
  .icon {
    opacity: 1;
  }
}
