
@font-face {
  font-family: 'Rubik-Regular';
  src: url('~assets/fonts/Rubik-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('~assets/fonts/Rubik-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('~assets/fonts/Rubik-Medium.ttf') format("truetype");
}

body {
  font-family: 'Rubik-Regular', sans-serif;
  word-wrap: break-word;
  background-image: linear-gradient(45deg, #32353b 41.67%, #1c2a33 41.67%, #1c2a33 50%, #32353b 50%, #32353b 91.67%, #1c2a33 91.67%, #1c2a33 100%);
  background-size: 8.49px 8.49px;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, #32353b 41.67%, #1c2a33 41.67%, #1c2a33 50%, #32353b 50%, #32353b 91.67%, #1c2a33 91.67%, #1c2a33 100%);
  background-size: 8.49px 8.49px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #634875;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #634875;
}

.text-medium {
  font-family: 'Rubik-Medium',sans-serif;
}

.text-panel {
  color: $secondary;
}

.text-bold {
  font-family: 'Rubik-Bold',sans-serif;
}
.panel {
  background:  #ffffff;
  color: #32353b;
}
.dark-panel {
  background:  #ffffff;
  color: #32353b;
}
.ch5 {
  font-size: 0.7em!important;
  text-transform: uppercase;
  letter-spacing: 0.5px!important;
  line-height: 1.3rem;
  font-weight: 700!important;
  font-size-adjust: 0.68!important;
}

.cold {
  color:  #344245;
}

.background-orange {
  background: $orange;
}

.background-white {
  background: white;
  color: $orange;
}

.light-background {
  color: black;
  background: white;
}

.light-background-grid {
  color: black;
  background: white;
}

.avatar {
  margin-left: -15px;
  width: 35vw;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  border-radius: 5px;
  border-radius: 5px;
}

.custom-card {
  min-width: 90%!important;
  min-height: 590px;padding-left: 8%;
  padding-top: 2%;
}

.icon {
  opacity: 0.3;
}

.qr {
  border-style: groove;
  border-width: 0.5px;
  width:100px;
  height: 100px;
  margin:auto;
  text-align: center;
  color: grey;
}

.sbId {
  font-size: 18px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
#small-logo {
  width:15vw;
  max-width:15px;
}

#f-size12 {
  font-size: 85%;
}
.iden-card {
  min-width: 90%!important;
  min-height: 595px;
  padding-left: 8%;
}

.create-card {
  max-width: 600px!important;
  min-height: 370px;
}

  .dark-panel {
    background:  #ebe8ed;
  }

.timeago {
  font-size: 14px;
  text-align: right;
  margin-top: 30px;
}

.progressBadge {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 10px;
}

.select-account-card {
  min-width: 500px!important;
  max-height: 500px;
}

 #logo-xs {
  width: 18vw;
  max-width: 18px;
  opacity: 0.3;
 }
 
 #logo-s {
  width: 18vw;
  max-width: 18px;
 }
  #logo-block {
  width: 33vw;
  max-width: 33px;
 }

  #logo2 {
   width:40vw;
   max-width:40px;
  }