@font-face {
  font-family: 'Helvetica';
  src: url('~assets/fonts/Helvetica.otf') format("opentype");
}

body {
  font-family: 'Helvetica',sans-serif;
  word-wrap: break-word;
}

.page-cont {
  background-image: url('/statics/img/background.png');
  background-size: 55%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30px -45px;
}

.cold {
  color:  #344245;
}

.dark-background {
  color: white;
  background: radial-gradient(circle, #344245 0%, #000709 70%);
  opacity:0.98;
}

.light-background {
  color: black;
  background: white;
}

.light-background-grid {
  color: black;
  background: white;
}

.custom-card {
  min-width: 90%!important;
  min-height: 590px;padding-left: 8%;
  padding-top: 2%;
}

.qr {
  border-style: groove;
  border-width: 0.5px;
  width:100px;
  height: 100px;
  margin:auto;
  text-align: center;
  color: grey;
}

.sbId {
  font-size: 18px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

#f-size12 {
  font-size: 83%;
}
.iden-card {
  min-width: 90%!important;
  min-height: 595px;
  padding-left: 8%;
}

.create-card {
  max-width: 600px!important;
  min-height: 370px;
}

.timeago {
  font-size: 12px;
  text-align: right;
  margin-top: 16%;
  margin-right: 5px;
}

.progressBadge {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 10px;
}

.select-account-card {
  min-width: 500px!important;
  max-height: 500px;
}

 #logo-xs {
  width: 18vw;
  max-width: 18px;
  opacity: 0.3;
 }