// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #9AD5CA
$accent    = #588da8
$grey      = #32353b
$dark = radial-gradient(circle, #344245 0%, #000709 100%)
$light-grey = #ccc8cc

$positive  = #92FF60
$negative  = #fa423e
$info      = #31CCEC
$warning   = #ff5252
$orange    = #32353b
$secondary = #634875
$icon-grey = #5c5c5c
$purple    = #aa7dc9
