// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #9AD5CA
$accent    = #86b9b0
$grey      = #9c929c
$dark = radial-gradient(circle, #344245 0%, #000709 100%)
$light-grey = #ccc8cc

$positive  = #86b9b0
$negative  = #ff677d
$info      = #805d96
$warning   = #eebf8a
$orange    = #32353b
$secondary = #634875
$icon-grey = #5c5c5c
$purple    = #aa7dc9
$lila      = #805d96
$green     = #93E3D5
