// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1976D2
$secondary = #FFAAF2
$accent    = #87C5D6
$grey      = #32353b
$dark = radial-gradient(circle, #344245 0%, #000709 100%);

$positive  = #92FF60
$negative  = #ff5252
$info      = #31CCEC
$warning   = #ff5252
$orange    = #ff6000
